cd/cd.exe
mkdir/mkdir.o
cd/utils.o
cd/utils.ppu
find_content/test.exe
find_content/test.o
mkdir/mkdir.exe
mkdir/utils.o
mkdir/utils.ppu
find_content/test.pas
rename/rename.exe
rename/rename.o
rename/rename.lps
rename/rename.lpi
rename/test2
touch/utils.o
touch/utils.ppu
rename/check
rename/test
