test*
*.exe
*.o
*.ppu
*.res
a.out

*.dll
*.so
*.dylib
*.log

fpcmade*
Package.fpc

build
!.gitkeep

fpcdebug*
*.db
.vs/

# XMake
compile_commands.json
.xmake
.cache

# Settings for IDEs
.vscode/
.zed/

# i18n
*.mo
*.rsj

# Backup files
*.~
*.bak

# Man pages
*.man

# Documents
*.html
*.css
*.js
*.gif
