# Ensure that the dialect is always FPC
-Mfpc

# Assertions
-Sa

# Some some C operators (+=, -=, *=, /=)
-Sc

# Inlines
-Si

# Macros
-Sm

# Reference counted strings
# (also they have variable length,
# limited by High(SizeInt) and available memory)
-Sh

# No writeable typed constants
-Sj-

# Exception keywords
-Sx

# Label + goto
-Sg

# Add lineinfo unit
-gl

# Definitons
# I know that #DEFINE exists but since
# editors recognize that as an ordinary
# comment, this is the choosen choice.
-dretn:=procedure
-dfn:=function
-dlong:=longint
-dulong:=longword
-dint:=integer
-dbool:=boolean
-dreturn:=exit
-dCRNL:=#13#10

# Unit search paths
-Fusrc

# Include files (.inc) search paths
-Fiinclude

# NO logo
-l-

# Verbosity
# e: Errors
# w: Warnings
# n: Notes
# h: Hints
# l: Line numbers
# q: Message numbers
# t: Tried/used files
# x: Invoked tools
# r: GNU style messages
-vewnhlqxr

# Ignore messages
# Config file read start-end messages (11030-11031)
-vm11030,11031
