# Ensure that the dialect is always Free Pascal
-Mfpc

# Assertions
-Sa

# Some some C operators (+=, -=, *=, /=)
-Sc

# Inlines
-Si

# Macros
-Sm

# Reference counted strings
# (also they have variable length,
# limited by High(SizeInt) and available memory)
-Sh+

# No writeable typed constants
-Sj-

# Exception keywords
-Sx

# No label + goto
-Sg-

# Add lineinfo unit
-gl

# Smart linking
-Xg
#IFNDEF DEBUG
-XX
#ENDIF

# Definitons
# I know that #DEFINE exists but since
# editors recognize that as an ordinary
# comment, this is the choosen choice.
-dretn:=procedure
-dfn:=function
-dlong:=longint
-dulong:=longword
-dint:=integer
-dbool:=boolean
-dreturn:=exit
-dCRNL:=#13#10
-dWriteASpace:=write(' ')

# Unit search paths
-Fu./src/shared/
-Fu./src/shared/*

# Include files (.inc) search paths
-Fi./include/
-Fi./include/*

# NO logo
-l-

# Verbosity
# e: Errors
# w: Warnings
# n: Notes
# h: Hints
# l: Line numbers
# q: Message numbers
# t: Tried/used files
# x: Invoked tools
# r: GNU style messages
-vewnhlqxr

# Ignore messages
# Config file read start-end messages (11030-11031)
-vm11030,11031
