# Assertions
-Sa

# Some some C operators (+=, -=, *=, /=)
-Sc

# Inlines
-Si

# Macros
-Sm

# Reference counted strings
-Sh

# No writeable typed constants
-Sj-

# Exception keywords
-Sx

# Label + goto
-Sg

# Add lineinfo unit
-gl

# Definitons
# I know that #DEFINE exists but since
# editors recognize that as an ordinary
# comment, this is the choosen choice.
-dbg:=begin
-ded:=end
-dretn:=procedure
-dfn:=function
-dlong:=longint
-dulong:=longword
-dint:=integer
-dbool:=boolean
-dreturn:=exit
-dCUSTCUSTC_EXTERN:=external 'custcustc' name
-dTStringMap:=specialize TFPGMap<string, string>

# Unit search paths
-Fusrc

# NO logo
-l-
