name: Nightly CI

on:
  push:
    branches:
      - "master"
    paths:
      - "*/**.pp"
      - "*/**.inc"
      - "*/**.c"
      - "*/**.h"
      - ".github/workflows/nightly.yml"

  pull_request:
    branches:
      - "master"
    paths:
      - "*/**.pp"
      - "*/**.inc"
      - "*/**.c"
      - "*/**.h"
      - ".github/workflows/nightly.yml"

  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        prog: [calltime, dir, env, inp, rename, uname, uptime] # TODO: Eliminate this

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6
        with:
          path: CC

      - name: Install compiler
        uses: gcarreno/setup-lazarus@v3.4.0
        with:
          with-cache: true

      - name: Setup XMake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@dev
          actions-cache-folder: ".xmake-cache"
          actions-cache-key: ${{ matrix.os }}-${{ github.sha }}

      - name: Build
        run: |
          xmake f --target_program=${{ env.TARGET }} -m debug
          xmake b -ravD
        env:
          TARGET: ${{ matrix.prog }}
        working-directory: CC

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with: # FIXME: build? not build/<os>/<arch>/<variant>?
          path: CC/build/
          if-no-files-found: error
          name: Commands Collection (Nightly) for ${{ matrix.os }}
