name: New release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        required: true
      prerelease:
        description: Prerelease
        type: boolean
        required: true

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        prog: [dir, inp, env] # TODO: Eliminate this

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6
        with:
          path: CC

      - name: Checkout the XMake fork
        uses: actions/checkout@v6
        with:
          repository: lebao3105/xmake
          path: xmake
          submodules: "recursive"

      - name: Install compiler
        uses: gcarreno/setup-lazarus@v3.4.0
        with:
          with-cache: true

      - name: Setup XMake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          actions-cache-folder: ".xmake-cache"

      - name: Build
        run: |
          xmake f --target_program=${{ env.TARGET }} -m release
          xmake b -ravD
        env:
          XMAKE_PROGRAM_DIR: ../xmake/xmake
          TARGET: ${{ matrix.prog }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          path: build/bin/*
          if-no-files-found: error
          name: Commands Collection for ${{ matrix.os }}

  publish:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          prerelease: ${{ github.event.inputs.prerelease }}
          draft: true
          body_path: ${{ github.workspace }}/changelogs/${{ github.event.inputs.version }}.md
          files: "Commands Collection for*"
          name: v${{ github.event.inputs.version }}
