name: New release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        required: true
      prerelease:
        description: Prerelease
        type: boolean
        required: true

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        prog: [calltime, dir, env, inp, rename, uname, uptime] # TODO: Eliminate this

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6
        with:
          path: CC

      - name: Install compiler
        uses: gcarreno/setup-lazarus@v3.4.0
        with:
          with-cache: true

      - name: Setup XMake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@dev
          actions-cache-folder: ".xmake-cache"
          actions-cache-key: ${{ matrix.os }}-${{ github.sha }}

      - name: Build
        run: |
          xmake f --target_program=${{ env.TARGET }} -m release
          xmake b -ravD
        working-directory: CC
        env:
          TARGET: ${{ matrix.prog }}

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          path: CC/build/*
          if-no-files-found: error
          name: Commands Collection for ${{ matrix.os }}

  publish:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7

      - name: Publish
        uses: softprops/action-gh-release@v2.5.0
        with:
          tag_name: ${{ github.event.inputs.version }}
          prerelease: ${{ github.event.inputs.prerelease }}
          draft: true
          body_path: ${{ github.workspace }}/changelogs/${{ github.event.inputs.version }}.md
          files: "Commands Collection for*"
          name: v${{ github.event.inputs.version }}
